<!--
  Generated template for the AddtaskPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header >
    <ion-navbar > 
      <ion-title text-center>CREATE A TASK</ion-title>      
    </ion-navbar>
</ion-header>
  
  <ion-content > 
    
    <ion-grid class="gridcl">  
       
        <ion-list class="ionlistcl">  

            <img class="img-user" src="assets/imgs/newimg/group545.png">   
            <ion-item class="item-user">    
              <ion-label floating *ngIf="onTaskPower" [ngStyle]="(onTaskPower)?{'display':'none'}:{ }">Category*</ion-label> 
              <ion-label *ngIf="!onTaskPower" style="color: #464646;">Category*</ion-label>    
               <ion-select [(ngModel)]="PowerSelect" interface="popover" [ngStyle]="(onTaskPower)?{'margin-top':'6px','margin-left':'10px'}:{}" #C (ionChange)="onChangeTaskPower()">   
                 <ion-option [value]="item.term_id" *ngFor="let item of SelectArr">{{ item.name }}</ion-option>       
               </ion-select>
            </ion-item>

            <img class="img-pass" src="assets/imgs/newimg/group546.png">  
            <ion-item class="item-pass">    
               <ion-input type="text" [(ngModel)]="title" placeholder="Title*"></ion-input> 
            </ion-item>
  
          <!-- <div class="MainDiv">  
              <div class="imagesec">
                  <img class="imgagesrc-img" src="assets/imgs/newimg/group546.png">   
              </div>  
              <div class="textsec"> 
                  <p no-padding no-margin style="margin-left: 17%;margin-top: 13px;color: #4D7390;">Enter Subject</p>   
              </div>  
          </div> -->      
  
          <div class="MainDiv1"> 
  
            <div >  
                <ion-item class="item-txtarea"> 
                    <ion-textarea rows="5" [(ngModel)]="contents" placeholder="Please add task details here."></ion-textarea>
                </ion-item> 
                <img class="icon-imgtxtarea" src="assets/imgs/newimg/group553_18px.png" (click)="uploadpicture()">       
            </div>
  
          </div>   
  
        </ion-list> 
  
        <ion-row no-margin no-padding margin-bottom>   
          <ion-col col-12 no-margin no-padding>    
             <button ion-button full (click)="GotoNext()">GO</button>  
          </ion-col>
        </ion-row>
         
    </ion-grid>
     
  </ion-content>