page-home {
    .div-main{
         width: 95%;    
         border-radius:6px;
         margin: auto;
         background-color: #FFFFFF;
         margin-top: 69%;    
         box-shadow: 0 0 0 -5px white, 0 3px 20px black;   
     }
 
     .content-md{   
         background-color: rgba(0,0,0,0.7);
     }
     .content-ios{    
         background-color: rgba(0,0,0,0.7);
     }

     .button-md {
         background-color: #FFFFFF;
         color: #00408A;
         font-size: 17px;
         font-family: "Lato-Black";  
         box-shadow: none !important;  
         -webkit-box-shadow: none !important; 
     }
     .button-ios {
        background-color: #FFFFFF;
        color: #00408A; 
        font-size: 17px;
        font-family: "Lato-Black";
        box-shadow: none !important;
        -webkit-box-shadow: none !important;  
     }

     .row{
     width: 85%;
     margin: auto;
     padding-bottom: 10px;
     }
     [col-12] {
        margin-top: 20px; 
     }
     .p-text {
        color: #363636;
        text-align: left;
        font-size:15px;  
        font-family:"Lato-Regular";    
     }
 
}
